body{
    background-color: #2B2922;
    overflow-x: hidden;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.8rem 2rem 0 5rem;
    height: 5vh;
}

.nav-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60vw;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 15rem;
}
li{
    list-style: none;
    width: 9rem;
    height: 2rem;
    margin-left: -3rem;
    color: rgb(142, 136, 136);
    font-weight: 500;
    font-size: 15px;
}
li:hover{
    color: white;
    font-size: 16px;
    font-weight: 400;
}
.navbutton{
    max-height: 2.4rem;
    margin-top: .4rem;
    width: 8rem;
    border-radius: 7px;
    font-size: 16px;
    font-weight: 600;
    margin-right: 5rem;
    background-color: #2B2922;
    border: 1px solid #847731;
    color: #847731;
}
.navbutton:hover{
    background-color: #847731;
    color: #2B2922;
}
.main{
    display: flex;
    flex-direction: column;
    padding-left: 5rem;
}
.text-area{
    margin: 1rem 2rem 4rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.big-text{
    font-size: 70px;
    color: white;
    text-align: center;
    width: 40%;
}
.small-text{
    margin-top: 5rem;
    margin-left: 7rem;
    font-size: 20px;
    color: rgb(170, 164, 164);
    height: 10rem;
    width: 24vw;
}
img[alt=law-hammer]{
    margin-left: -11rem;
    margin-right: -1rem;
    margin-top: -5rem;
    height: 750px;
}

img[alt=slider-arrow]{
    bottom: .2rem;
    float: right;
}
@media (max-width: 576px){
    body{
        height: 55rem;
        overflow-x: hidden;
    }
    .navbar{
        flex-direction: column;
        justify-content: flex-start;
        
    }
    .logo{
        transform: scale(.5);
        margin-left: -9rem;
        margin-top: -2rem;
    }
    .nav-menu{
        flex-direction: column;
        padding-left: 0rem;
        padding-right: 5rem;
    }
    .list-items{

        flex-direction: column;
        align-items: center;
        margin: 0 0 0 -1rem;
        text-align: center;
    }
    .navbutton{
        margin: 0;
    }
    .main{
        margin-top: 7rem;
    }
    .text-area{
        flex-direction: column;
        align-items: center;
    }
    .big-text{
        font-size: 3rem;
        margin-top: 10rem;
    }
    .small-text{
        margin-top: -1rem;
        margin-left: -3.5rem;
        margin-bottom: 5rem;
        max-width: 35rem;   }
    img[alt=law-hammer]{
        margin-left: -5rem;
        width: 17rem;
        height: 7rem;
    }
 /*    footer{
        position: relative;
    } */
    img[alt=slider-arrow]{
        width: 7rem;
        margin-right: 19rem;
    }


}
@media (max-width: 768.98px){
    body{
        height: 55rem;
        overflow-x: hidden;
    }
    .navbar{
        flex-direction: column;
        align-items: center;
    }
    .logo{
        transform: scale(.5);
        margin-left: 0rem;
        margin-top: -2rem;
    }
    .nav-menu{
        flex-direction: column;
    }
    .list-items{
        margin: 0 0 0 -6rem;
        width: 40rem;
    }
    .navbutton{
        transform: scale(1.4);
        margin-left: 10rem;
    }
    .list-item{
        padding-right: 3rem;
        font-size: 1rem;
    }
    .text-area{
        flex-direction: column;
    }
    .big-text{
        font-size: 3rem;
        margin-left: -4rem;
        margin-top: 5rem;
        width: 40rem;
    }
    .small-text{
        width: 40rem;
        margin-top: -1rem;
        margin-left: -3.5rem;
        margin-bottom: 5rem;
    }
    img[alt=law-hammer]{
        margin-left: -5.7rem;
        width: 49rem;
        height: 17rem;
        margin-top: -15rem;
    }
    img[alt=slider-arrow]{
        width: 12rem;
        margin-right: 0rem;
    }
}
@media (min-width: 1920px){
    body{
        overflow-x: hidden;
    }
    footer{
        margin-top: 4rem;
    }
    img[alt=slider-arrow]{
        margin-right: 19rem;
    }
}